{% extends 'frame.html' %} {% load i18n %} {% block content %}
<form method="post" action="confirm">
    <h3>{% trans "GeePs Matlab License Center" %}</h3>
    {% csrf_token %} {{ form.as_p }}
    <div class="form-bottom">
        <a href="help">{% trans "How do I find my HostID ?" %}</a>
        <input type="submit" value={% trans "Ok" %}>
    </div>
</form>
{% endblock %}