form {
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
}

form div,
form p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

form label {
    order: 1;
    width: 10em;
    padding-right: 0.5em;
    text-align: end;
}

textarea,
input,
select {
    order: 2;
    flex: 1 1 auto;
}

form input[type="text"] {
    line-height: 1.2em;
}

form a {
    display: block;
    text-align: end;
}

form input[type="submit"] {
    font-size: 1em;
}

form .form-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form h3 {
    text-align: center;
}

.errorlist {
    text-align: right;
    list-style: none;
    color: red;
}

.logo {
    height: 200px;
    display: block;
    margin: auto;
}